services:
  - type: web
    name: bin-naeem-industries
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        value: 587
      - key: SMTP_USERNAME
        sync: false
      - key: SMTP_PASSWORD
        sync: false
      - key: SMTP_FROM_EMAIL
        value: info@binnaeemindustries.com
      - key: SMTP_FROM_NAME
        value: Bin Naaem Industries
      - key: SMTP_TO_EMAIL
        value: info@binnaeemindustries.com
